@model IEnumerable<MyBooks.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="mb-3">Författare</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Lägg till en ny författare</a>
    </p>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Author_Name)
            </th>
            <th class="text-center">Åtgärder</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Author_Name)
            </td>
            <td class="text-center align-middle">
                    <a asp-action="Edit" asp-route-id="@item.AuthorID" class="btn btn-sm text-warning">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorID" class="btn btn-sm text-info">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuthorID" class="btn btn-sm text-danger">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
